app = "1-in-a-billion-backend"
primary_region = "sin"

[build]
  dockerfile = "Dockerfile"

[env]
  PORT = "8787"

[http_service]
  internal_port = 8787
  force_https = true
  auto_stop_machines = false
  auto_start_machines = true
  min_machines_running = 1
  processes = ["app"]

[[services]]
  protocol = "tcp"
  internal_port = 8787
  processes = ["app"]

  [[services.ports]]
    port = 80
    handlers = ["http"]
    force_https = true

  [[services.ports]]
    port = 443
    handlers = ["tls", "http"]

[processes]
  app = "node dist/server.js"
  worker = "node dist/workers/textWorker.js"
  pdf-worker = "node dist/workers/pdfWorker.js"
  audio-worker = "node dist/workers/audioWorker.js"
  song-worker = "node dist/workers/songWorker.js"
  watchdog = "node dist/workers/watchdogWorker.js"

[[vm]]
  memory = "512mb"
  cpu_kind = "shared"
  cpus = 1
