name: Deploy to Fly.io

on:
    push:
        branches:
            - main

env:
    FLY_API_TOKEN: ${{ secrets.FLY_API_TOKEN }}

jobs:
    deploy:
        name: Deploy
        runs-on: ubuntu-latest
        steps:
            - uses: actions/checkout@v4

            - name: Set up Docker Buildx
              uses: docker/setup-buildx-action@v3

            - name: Login to Docker Hub
              uses: docker/login-action@v3
              with:
                  username: ${{ secrets.DOCKERHUB_USERNAME }}
                  password: ${{ secrets.DOCKERHUB_TOKEN }}
              # Optional: You can use ghcr.io or fly registry instead of Docker Hub if preferred.
              # For Fly Registry: registry.fly.io (requires Fly Token)

            - name: Cache Docker layers
              uses: actions/cache@v3
              with:
                  path: /tmp/.buildx-cache
                  key: ${{ runner.os }}-buildx-${{ github.sha }}
                  restore-keys: |
                      ${{ runner.os }}-buildx-

            - name: Install Flyctl
              uses: superfly/flyctl-actions/setup-flyctl@master

            - name: Deploy to Fly
              run: flyctl deploy --remote-only --build-arg NODE_ENV=production
              env:
                  FLY_API_TOKEN: ${{ secrets.FLY_API_TOKEN }}
